<!--! views/profile/main.ejs -->
<section aria-labelledby="profile-title">
	<h1 id="profile-title"><%= t('layout:nav.profile') %></h1>
	<%- include('_account', { account }) %>
	<%- include('_security', { account }) %>
</section>

<% if (modal === 'profile_password') { %>
	<%- include('../modals/profile/_password_modal', { account }) %>
<% } %>
