/*! public/css/root/base.css */

/* Too small screen blocker */
#screen-too-small {
	position: fixed;
	inset: 0;
	display: none;
	z-index: 9999;
	padding: 1.5rem;
	background: var(--bg-main);
	color: var(--color-text-body);
	align-items: center;
	justify-content: center;
	text-align: center;
}

@media (max-width: 319px), (max-height: 479px) {
	#app-shell {
		display: none !important;
	}

	#screen-too-small {
		display: flex;
		flex-direction: column;
	}
}

/* Global Styles */
html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family-body);
	font-weight: 400;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	color: var(--color-text-body);
	background-color: var(--color-bg-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-headers);
	font-weight: 600;
}

/* Utility Classes */
.brand-color {
	color: var(--color-primary);
}

.brand-text {
	color: var(--color-text-body);
	transition: text-shadow var(--transition-time-method);
}

.brand-text:hover {
	text-shadow: 1px 1px 10px var(--color-metalic-gold);
}

/* Flash messages */
.flash-message {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1100;
	width: min(80%, 600px);
	text-align: center;
	opacity: 0.95;
	padding: 1rem;
	font-size: 1rem;
	box-shadow: 0 4px 6px #0000001a;
}

.hidden {
	display: none !important;
}

.tooltip {
	--bs-tooltip-bg: var(--color-secondary-hover);
	--bs-tooltip-color: #fff;
	--bs-tooltip-border-radius: 0.375rem;
	--bs-tooltip-padding-x: 0.5rem;
	--bs-tooltip-padding-y: 0.35rem;
	--bs-tooltip-opacity: 0.98;
}

[data-theme='dark'] .tooltip {
	--bs-tooltip-bg: #ffffff;
	--bs-tooltip-color: var(--color-secondary-hover);
}

.btn-action,
.btn-action-outline,
.btn-action-secondary {
	font-weight: 600;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	transition: background-color var(--transition-time-method);
}

.btn-action {
	color: var(--color-text-body);
	background: var(--color-primary);
}

.btn-action:hover,
.btn-action:focus {
	background: var(--color-primary-hover);
}

.btn-action-outline {
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

.btn-action-outline:hover,
.btn-action-outline:focus {
	color: var(--color-text-body);
	border-color: var(--color-primary-hover);
	background-color: var(--color-primary-hover);
}

.btn-action-secondary {
	color: var(--color-text-body);
	background: var(--color-secondary);
}

.btn-action-secondary:hover,
.btn-action-secondary:focus {
	background: var(--color-secondary-hover);
}
