#! .env.example

# Express
PORT=3000
NODE_ENV=development

# URL
CLIENT_URL=http://localhost:3000

# Sentry:
SENTRY_DSN=DSN_FROM_sentry.io

# Session
SESSION_SECRET=some_very_long_secret_more_than_32_characters

# Admin Email
EMAIL_ADMIN=your_eamil@domain.com
EMAIL_PASSWORD=your_app_password
EMAIL_SERVICE=your_app_provider
EMAIL_HOST=your_email_smtp
EMAIL_PORT=your_email_port

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dwd_ejs
DB_USER=postgres
DB_PASSWORD=your_password
DB_SSL=false
