#! .env.example

# Express
PORT=3000
NODE_ENV=development

# URL
CLIENT_URL=http://localhost:3000

# Sentry:
SENTRY_DSN=DSN_FROM_sentry.io

# Session
SESSION_SECRET=some_very_long_secret_more_than_32_characters

# Admin Email
EMAIL=your_eamil@domain.com
