<!--! views/layouts/_brandLogo.ejs -->
<span class="brand-logo" aria-hidden="true">
	<img
		class="brand-logo-img brand-logo-img-light"
		src="/images/logos/transparent_light.svg"
		alt=""
	/>
	<img
		class="brand-logo-img brand-logo-img-dark"
		src="/images/logos/transparent_dark.svg"
		alt=""
	/>
</span>
