<!--! views/layouts/_company_name.ejs -->
<span class="brand brand-color-secondary" role="text">
<span class="brand-color">D</span>akermanji <span class="brand-color">{</span>Web Dev<span
	class="brand-color"
	>}</span
></span>