<!--! views/layouts/main.ejs -->

<!DOCTYPE html>
<html
	lang="<%= currentLang %>"
	dir="<%= currentLang === 'ar' ? 'rtl' : 'ltr' %>"
>
	<head>
		<meta charset="UTF-8" />
		<title><%= title %></title>
	</head>
	<body>
		<%- body %>
	</body>
</html>
