<!--! views/modals/auth/_resetPassword.ejs -->
<div
	class="modal fade"
	id="resetPasswordModal"
	tabindex="-1"
	aria-labelledby="resetPasswordModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="resetPasswordModalLabel">
					<%= t('auth:resetPassword.title') %>
				</h5>
				<button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
				></button>
			</div>

			<form
                action="/auth/reset-password"
                method="POST"
                class="modal-form"
                novalidate
            >
				<div class="modal-body">
					<%- include('../../partials/_csrf') %>

					<%- include('./_setPassword', {token}) %>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-action w-100">
						<%= t('auth:resetPassword.submit') %>
					</button>
				</div>
            </form>
        </div>
    </div>
</div>
