<!--! views/modals/auth/_setPassword.ejs -->
<div class="mb-3">
    <label for="password" class="form-label">
        <%= t('auth:security.password') %>
    </label>
    <input
        id="password"
        dir="ltr"
        type="password"
        class="form-control"
        name="password"
        required
    />
</div>

<div class="mb-3">
    <label for="confirmPassword" class="form-label">
        <%= t('auth:security.confirm_password') %>
    </label>
    <input
        id="confirmPassword"
        dir="ltr"
        type="password"
        class="form-control"
        name="confirmPassword"
        required
    />
</div>

<input type="hidden" name="token" value="<%= token %>" />
