<!--! views/home/_hero.ejs -->
<section class="hero-section">
	<div class="hero-content">
		<small class="role"><%- t('home:hero.role') %></small>
		<h1>
			<%- t('home:hero.intro') %>
		</h1>
	</div>
</section>
