<!--! views/home/_hero.ejs -->
<section class="hero-section">
	<div class="hero-content">
		<small class="role"><%- t('home:hero.role') %></small>
		<h1>
			<%- t('home:hero.intro') %>
			<img
				src="/images/home/canada-flag.png"
				alt="<%= t('home:hero.canadaFlag') %>"
				class="flag-icon"
			/>
		</h1>
	</div>
</section>
